:root {
	--progress-amount: 0%;
}

body {
	background-color: #000;
}

main {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: white;
	position: absolute;
	margin: 0px auto;
	padding: 0;
	width: 100%;
	height: 100%;
}

@keyframes spinner-loading {
	to {
		transform: rotate(1turn);
	}
}

canvas[id='bg'] {
	position: fixed;
	top: 0;
	left: 0;
	visibility: visible;
}

.object-hovered {
	cursor: pointer;
}

/* .loading canvas[id='bg'] {
	visibility: hidden;
}

.loaded canvas[id='bg'] {
	visibility: visible;
} */

.loading-spinner-container {
	background-color: #000;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: grid;
	place-content: center;
	display: none !important;
}

.loaded .loading-spinner-container {
	display: none;
}

.loading-spinner {
	display: flex;
	justify-content: center;
}

.progress-bar {
	width: 180px;
	height: 22px;
	border: 2px solid #fff;
	position: relative;
	margin: 30px 0;
}

[id='bar'] {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	width: var(--progress-amount, 0%);
	height: 100%;
}

.loading-spinner svg {
	width: 4.4rem;
	height: 4.4rem;
	animation: spinner-loading 0.5s linear infinite;
	fill: #fff;
}

table {
	border-spacing: 0;
}

.controls-container {
	pointer-events: all;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.controls {
	background: rgba(0, 0, 0, 0.6);
	width: 120px;
	padding: 8px;
	border: 1px solid #fff;
	font-size: 12px;
	margin-top: 8px;
}

.controls div {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 4px 0;
	flex-grow: 1;
}

.controls div span {
	width: 50%;
	font-size: 10px;
}

.controls div span.key {
	width: 20px;
}

.controls .title {
	text-align: center;
	padding: 0 0 6px;
	display: block;
	border-bottom: 1px solid #fff;
	margin: -2px -8px 6px;
}

.controls div:last-child {
	padding-bottom: 0;
}

@media (max-width: 960px) {
	.controls-primary {
		display: none;
	}
}

.controls-secondary div {
	padding: 0;
}

/* breakpoints */
body::before {
	display: none;
	content: 'screen-xs';
}

@media (min-width: 576px) {
	body::before {
		content: 'screen-sm';
	}
}

@media (min-width: 768px) {
	body::before {
		content: 'screen-md';
	}
}

@media (min-width: 992px) {
	body::before {
		content: 'screen-lg';
	}
}

@media (min-width: 1200px) {
	body::before {
		content: 'screen-xl';
	}
}

.label {
	border: 1px solid;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	font-size: 16px;
	background: rgba(0, 0, 0, 0.7);

	font-family: sans-serif;
	cursor: pointer;
	white-space: nowrap;
	text-align: left;
	position: relative;
	will-change: transform;
	transition: background-color 0.4s ease, opacity 0.4s ease;
}

.label .label-text {
	margin-left: 12px;
	margin-top: 3px;
	opacity: 1;
	display: inline-block;
	color: rgb(162, 162, 162);
	font-weight: 700;
	text-shadow: 1px 1px 0 black, -1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, 0 0 3px black;
	padding: 3px 4px;
	transition: border-width 0.2s ease, color 0.2s ease;
}

.label:hover {
	background-color: currentColor;
}

.label:hover .label-text {
	opacity: 1;
	color: #fff;
}

.label.faded {
	pointer-events: none;
	opacity: 0;
}

.label[data-label-name='sun'] {
	background-color: transparent;
}

.buttons-container {
	position: absolute;
}
