a,
button {
	&:focus {
		outline: 1px dotted; // override ugly Chrome outlines
	}
}

.btn {
	appearance: none;
	background: transparent;
	color: $white;

	&:hover {
		background-color: rgba($white, 0.15);
	}

	&:hover,
	&:focus,
	&:active {
		color: $white;
	}

	&:disabled {
		color: $btn-disabled;
	}

	.badge {
		top: 0; // undo-ing Bootstrap's 'quick-fix'
	}
}

.btn-primary {
	border: 1px solid #2f2f2f;
	border-radius: 2px;
	background-color: #191919;
	// text-transform: uppercase;
}

.btn-underline {
	position: relative;
	border: 2px solid transparent;
	background-color: transparent;
	font-weight: 600;
	border-radius: 0;
	box-shadow: none !important;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0.1em;
		background-color: $white;
		opacity: 0;
		transition: opacity 0.2s ease, transform 0.2s ease;
	}

	&:hover,
	&:focus,
	&.active {
		background-color: transparent;

		&::after {
			opacity: 1;
			transform: translate3d(0, 0.2em, 0);
		}
	}
}

.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active {
	background-color: rgba($white, 0.15);
	color: $white;
}

.btn-rounded {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.btn-show-moons {
	display: inline-flex;
	align-items: center;
	padding: 3px 5px;

	img {
		margin-right: 8px;
	}

	i {
		&::before {
			position: relative;
			top: 1.5px;
			margin-left: 4px;
		}
	}
}

.btn-moon-group {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.btn-readmore {
	padding: 3px 8px 3px 5px;

	img {
		position: relative;
		margin-left: 5px;
		transition: transform 0.2s ease;
	}

	&:hover {
		img {
			transform: translateX(2px);
		}
	}
}
