a,
button {
	&:focus {
		outline: 1px dotted; // override ugly Chrome outlines
	}
}

.btn {
	appearance: none;
	background: transparent;
	color: $white;

	&:hover {
		background-color: rgba($white, 0.15);
	}

	&:hover,
	&:focus,
	&:active {
		color: $white;
	}

	&:disabled {
		color: $btn-disabled;
	}

	.badge {
		top: 0; // undo-ing Bootstrap's 'quick-fix'
	}

	&.btn-primary {
		border: 1px solid #2f2f2f;
		border-radius: 2px;
		background-color: #191919;
	}

	&.active {
		background-color: $white;
		color: $black;
	}
}

.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active {
	background-color: rgba($white, 0.15);
	color: $white;
}

.btn-rounded {
	width: 32px;
	height: 32px;
	margin: 0.25em 0.125em;
	padding: 0;
	border-radius: 50%;
}

.btn-show-moons {
	display: inline-flex;
	align-items: center;
	padding: 3px 5px;

	img {
		margin-right: 8px;
	}

	i {
		&::before {
			position: relative;
			top: 1.5px;
			margin-left: 4px;
		}
	}
}

.btn-moon-group {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.btn-readmore {
	padding: 3px 8px 3px 5px;

	img {
		position: relative;
		margin-left: 5px;
		transition: transform 0.2s ease;
	}

	&:hover {
		img {
			transform: translateX(2px);
		}
	}
}
