.modal {
	z-index: $z-modal;
	color: #000;

	&.fade {
		.modal-dialog {
			transform: translate(0, 20px);
		}
	}

	&.show {
		.modal-dialog {
			transform: none;
		}
	}
}

.modal-body img {
	float: right;
	margin: 0 0 15px 15px;
}
