%scrollbar-grey {
	--scrollbar-track: #1c1c1c;
	--scrollbar-thumb: #6a6767;
	--scrollbar-width: 10px;

	scrollbar-color: --scrollbar-thumb --scrollbar-track;
	scrollbar-width: thin;

	&::-webkit-scrollbar {
		width: var(--scrollbar-width);
	}

	&::-webkit-scrollbar-track {
		background-color: var(--scrollbar-track);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb);
		border-radius: 0;
	}
}
