.search-container {
	display: flex;
	justify-content: flex-end;
	pointer-events: all;
	flex-grow: 1;

	.search {
		position: relative;
		max-width: 280px;
		border-radius: 20px;

		.fa-search {
			position: absolute;
			left: 15px;
			top: 50%;
			pointer-events: none;
			transform: translateY(-50%);
		}
	}

	.fa-search {
		color: $white;
	}

	input,
	.search-dropdown {
		background-color: $black;
		border: 1px $input-border solid;
		color: $grey-medium;
	}

	input {
		appearance: none;
		padding-left: 46px;
		color: $white;
		border: 0;
		background-color: transparent;
		box-shadow: none !important;
		transition: color 0.2s ease;

		&:hover,
		&:focus,
		&:active {
			background-color: transparent;
			color: $white;
		}
	}

	.search-dropdown {
		position: absolute;
		z-index: $z-search;
		width: 100%;
		display: none;
		overflow: hidden;
		bottom: 37px; // TODO: temp

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li {
			a,
			.no-results {
				display: flex;
				align-items: flex-end;
				padding: 10px 15px;
				text-decoration: none;
			}

			.no-results {
				user-select: none;
			}

			a {
				&:hover,
				&:focus {
					background-color: #323232;
					outline: 0;
				}
			}

			span {
				white-space: nowrap;
				color: rgb(228, 228, 228);
				text-overflow: ellipsis;

				&.text-type {
					min-width: 30px;
				}

				&.highlight {
					color: $white;
					text-shadow: 0 0 3px rgba($white, 0.5);
				}
			}
		}
	}

	&.active {
		.search-dropdown {
			display: block;
		}
	}
}
