.input-search {
	appearance: none;
	background-color: transparent;
	color: $white;
	border: 0;
	box-shadow: none !important;
	transition: color 0.2s ease;

	&:hover,
	&:focus,
	&:active {
		background-color: transparent;
		color: $white;
	}
}

.search-dropdown {
	@extend %scrollbar-grey;
	display: none;
	width: 100%;
	overflow: auto;
	background-color: $black;
	border: 1px $input-border solid;
	color: $grey-medium;
	max-height: 240px;
	z-index: $z-search;

	@include media-breakpoint-up(lg) {
		max-width: 260px;
	}

	&.active {
		display: block;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		a,
		.no-results {
			display: block;
			padding: 10px 15px;
			text-decoration: none;
		}

		.no-results {
			user-select: none;
		}

		a {
			&:hover,
			&:focus {
				background-color: #323232;
				outline: 0;
			}
		}

		span {
			white-space: nowrap;
			text-overflow: ellipsis;

			&.text-name {
				color: rgba($white, 0.8);
			}

			&.highlight {
				color: $white;
			}
		}
	}
}

.search-desktop {
	display: flex;
	justify-content: flex-end;
	pointer-events: all;
	flex-grow: 1;

	.search {
		position: relative;
		max-width: 280px;
		border-radius: 20px;
	}

	.fa-search {
		@include media-breakpoint-up(lg) {
			position: absolute;
			left: 15px;
			top: 50%;
			pointer-events: none;
			transform: translateY(-50%);
		}
	}

	.input-search {
		padding-left: 46px;
	}
}

.search-results-container {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: $z-search;

	@include media-breakpoint-up(lg) {
		display: flex;
		justify-content: flex-end;
	}

	.input-search-mobile {
		display: none;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #3c3c3c;
		border-radius: 0;
		border: 0;
		color: $white;

		&.active {
			display: block;
		}

		&::placeholder {
			color: rgba($white, 0.75);
		}

		&:-ms-input-placeholder {
			color: rgba($white, 0.75);
		}

		&::-ms-input-placeholder {
			color: rgba($white, 0.75);
		}
	}
}
