::placeholder {
	color: $grey-medium;
	opacity: 1;
}

:-ms-input-placeholder {
	color: $grey-medium;
}

::-ms-input-placeholder {
	color: $grey-medium;
}

::selection {
	background: rgba($white, 0.9); /* WebKit/Blink Browsers */
	color: $black-near;
}

::-moz-selection {
	background: rgba($white, 0.9); /* Gecko Browsers */
	color: $black-near;
}

body {
	font-size: 16px;
}

h2,
.h2 {
	font-size: 24px;
}

h3,
.h3 {
	font-size: 22px;
}

a {
	color: $white;

	&:hover {
		color: $white;
	}
}

.text-type {
	text-transform: uppercase;
	font-size: 12px;
	color: #a3a3a3;

	&::before {
		content: "/";
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
	}
}

sub {
	position: static;
	font-size: max(0.75em, 14px);
}

.text-system-color {
	color: var(--system-color);
}

.text-entity-color {
	color: var(--entity-color);
}

// Wikipedia raw content fixes
.mw-empty-elt {
	display: none;
}
