.ui-bottom {
	pointer-events: all;

	&.hide-moons {
		.moons-container {
			visibility: hidden;
			height: 0;
			overflow: hidden;
			position: absolute;

			.animate-in {
				transform: translateY(10px);
			}
		}
	}

	.title-container {
		display: flex;
		align-items: center;
		justify-content: center;
		justify-content: space-between;
		text-transform: uppercase;

		.title-wrapper {
			display: flex;
			align-items: flex-end;
		}

		.h3 {
			margin: 0;
			user-select: none;
			display: inline-block;
		}

		.text-type {
			margin-left: 5px;
		}
	}

	.key-data-container {
		color: $white;

		ul {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			margin: 0;
			padding: 0;
			list-style-type: none;
		}

		li {
			border-left: solid 2px var(--entity-color);
			font-size: 12px;
			line-height: 1;
			padding-left: 10px;
			margin-right: 30px;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		.heading,
		.label-color {
			font-size: 16px;
		}

		.heading {
			display: block;
			color: #9f9f9f;
		}

		.label-color {
			color: var(--entity-color);
		}
	}

	.btn-group-wrapper {
		margin: 10px 0;
	}

	.moons-container {
		text-align: center;

		.label-moons {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;
			transform: translateY(0);
			color: #5a5a5a;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			transition: transform 0.3s ease;
		}

		.btn-group {
			transform: translateY(0);
			transition: transform 0.3s ease;

			.btn {
				padding: 0.375rem 0.75rem;
				width: auto;
				height: auto;
				box-shadow: none;
			}

			.badge {
				margin-left: 5px;
			}

			input {
				&:checked {
					& + .btn-outline-primary {
						color: $black;
						background-color: $white;

						.badge {
							color: $white;
							background-color: $black;
						}
					}
				}
			}
		}

		.btn-group-custom {
			transform: translateY(0);
			transition: transform 0.3s ease;

			.btn-underline {
				margin-left: 5px;
				margin-right: 5px;
			}

			input {
				&:checked {
					& + .btn-underline {
						&::after {
							opacity: 1;
							transform: translate3d(0, 0.2em, 0);
						}
					}
				}
			}
		}
	}
}
