.ui-details {
	position: relative;
	flex-grow: 1;
	overflow-y: hidden;

	@include media-breakpoint-up(lg) {
		display: flex;
		justify-content: flex-end;
	}

	.col-ui-details {
		@include media-breakpoint-up(lg) {
			position: absolute;
			height: 100%;
			min-width: 600px;
		}
	}

	.ui-details-container {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: column nowrap;
		background: #0a0a0a;
		overflow: hidden;
		pointer-events: all;
	}

	.title-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;
		margin-top: 10px;

		.title-wrapper {
			display: flex;
			align-items: flex-end;
		}

		.h3 {
			margin: 0;
			user-select: none;
			display: inline-block;
		}

		.text-type {
			margin-left: 5px;
		}

		.btn {
			border-radius: 0;
		}
	}

	.key-data-container {
		color: $white;
		margin-top: 10px;
		margin-bottom: 10px;

		.key-data {
			border-left: solid 2px var(--entity-color);
			margin-bottom: 10px;
			padding-left: 10px;
			line-height: 1.1;
			text-transform: uppercase;
		}

		.heading {
			display: block;
			color: #9f9f9f;
		}

		.label-color {
			color: var(--entity-color);
		}
	}

	.tabs-details {
		.btn-group {
			width: 100%;

			.btn {
				padding-top: 10px;
				padding-bottom: 12px;
				background-color: #1e1e1e;
				border: 1px solid rgba($white, 0.1);
				border-top-color: transparent;
				border-bottom: 2px solid transparent;
				border-radius: 0;
				box-shadow: none;

				&:not(:last-child) {
					border-right: 1px solid #2e2e2e;
				}

				&:hover,
				&:focus,
				&:active {
					background-color: #212121;
					border-bottom-color: rgba($white, 0.5);
				}
			}

			input:checked {
				+ label {
					cursor: default;

					&,
					&:hover,
					&:focus,
					&:active {
						background-color: #272727;
						border-bottom-color: $white;
					}
				}
			}
		}

		span {
			display: inline-block;
			margin-right: 5px;
		}
	}

	.img-details {
		width: 100%;
		height: 130px;
		object-fit: cover;
		object-position: center;
	}

	.content-container {
		flex-grow: 1;
		overflow-y: auto;
	}

	.content {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		font-size: 18px;
		line-height: 1.7;
	}

	.content-system {
		.item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			text-align: left;
			border-radius: 0;
		}

		table {
			width: 100%;
		}

		.table-type {
			th,
			td {
				padding: 0;
				cursor: default;
			}
		}

		th,
		td {
			padding: $btn-padding-y $btn-padding-x;
			white-space: nowrap;
			transition: background-color 0.2s ease;
		}

		.td-wrapper {
			padding-left: 15px;
			padding-right: 0;

			@include media-breakpoint-up(lg) {
				padding-left: 25px;
			}
		}

		td {
			tbody {
				position: relative;

				&.active-entity-group {
					&::before {
						opacity: 1;
					}

					tr th::before {
						opacity: 0.25;
					}
				}

				&::before {
					position: absolute;
					left: -28px;
					opacity: 0.75;
					writing-mode: vertical-rl;
					transform: rotate(180deg);
					height: 100%;
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 0.3em;
					text-align: center;
					text-transform: uppercase;
					white-space: nowrap;
					transition: opacity 0.2s ease;
				}

				th {
					position: relative;
					font-size: 17px;
					font-weight: 400;

					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 4px;
						height: 100%;
						opacity: 0;
						transition: opacity 0.2s ease;
					}
				}

				tr {
					position: relative;
					cursor: pointer;
					outline: 0;
					border-bottom: 1px solid $black; // TODO: set to whatever BG colour is used for the side thingo
					transition: background-color 0.2s ease;

					&:hover,
					&:focus,
					&:active,
					&.active-entity {
						&::after {
							opacity: 0.25;
						}
					}

					&::after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						opacity: 0.15;
						transition: opacity 0.2s ease;
					}

					&.active-entity {
						cursor: default;
					}
				}

				// TODO: Fix this up
				$jupiter: #e0ab79;
				$major: #bd6060;
				$himalia: #608abd;
				&.jupiter {
					tr {
						&::after,
						th::before {
							background-color: $jupiter;
						}
					}
				}

				&.major {
					&::before {
						content: "Major";
						color: $major;
					}

					tr {
						&::after,
						th::before {
							background-color: $major;
						}
					}
				}

				&.himalia {
					&::before {
						content: "Himalia";
						color: $himalia;
					}

					tr {
						&::after,
						th::before {
							background-color: $himalia;
						}
					}
				}
			}
		}

		.item-key {
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
}
