.ui {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	pointer-events: none;
	z-index: $z-ui;

	.ui-top {
		padding-top: 15px;
		padding-bottom: 15px;
		pointer-events: all;

		> .row {
			align-items: center;
		}
	}

	.ui-bottom-bar {
		pointer-events: all;
		background-color: #111;
	}

	sub {
		text-transform: uppercase;
	}
}

.badge {
	background-color: $white;
	border-radius: 20px;
}

hr {
	opacity: 1;
	border: 0;
	background: url(/img/dotted-line-circle.svg) repeat-x 2px center;
	padding: 10px;
}

.container-extra-gutter {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
