// FontAwesome
$fa-font-path: "../fonts";

// Custom
// TODO: convert these to CSS vars
$grey-medium: #b6b6b6;
$grey-medium: #b6b6b6;
$white: #fff;
$black: #000;
$black-near: #0c0c0c;

$input-border: #3d3d3d;
$input-border-hover: #595959;

$btn-disabled: #333;

:root {
	--system-color: #cec3c7;
	--entity-color: #cec3c7;
}

// -------------------------
// Skeleton CSS
// -------------------------
$skeleton-element-color: rgba(255, 255, 255, 0.07);
$skeleton-animation-gradient: rgba(0, 0, 0, 0.3);

// -------------------------
// Bootstrap overrides
// -------------------------

$body-bg: $black;
$body-color: $white;

// $primary: $white;
$primary: $black-near;
// $warning: #212121;

$body-color: $primary;

$font-family-sans-serif: $source-sans;
// $primary: #595959;
$component-active-bg: $input-border-hover;
// $input-btn-focus-color: #595959;

$badge-color: $black;
$badge-padding-y: 0.25em;
$badge-padding-x: 0.5em;
$badge-border-radius: 50%;

$alert-border-radius: 3px;
