<!DOCTYPE html>
<html lang="en">
	<head>
		<title>The Orrery</title>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<!-- prettier-ignore -->
		<link rel="preload" as="font" href="./fonts/SourceSansPro/source-sans-pro-v18-latin-regular.woff2" type="font/woff2" crossorigin="anonymous" />
		<!-- prettier-ignore -->
		<link rel="preload" as="font" href="./fonts/SourceSansPro/source-sans-pro-v18-latin-italic.woff2" type="font/woff2" crossorigin="anonymous" />
		<!-- prettier-ignore -->
		<link rel="preload" as="font" href="./fonts/SourceSansPro/source-sans-pro-v18-latin-700.woff2" type="font/woff2" crossorigin="anonymous" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body class="loading">
		<noscript>
			Sorry, but <em>The Orrery</em> will not work without JavaScript enabled. Please enable it to continue.
		</noscript>
		<canvas id="bg"></canvas>
		<main id="app-orrery">
			<div class="loading-spinner-container">
				<div class="loading-spinner">
					<svg viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15.542 1.487A21.507 21.507 0 00.5 22c0 11.874 9.626 21.5 21.5 21.5 9.847 0 18.364-6.675 20.809-16.072a1.5 1.5 0 00-2.904-.756C37.803 34.755 30.473 40.5 22 40.5 11.783 40.5 3.5 32.217 3.5 22c0-8.137 5.3-15.247 12.942-17.65a1.5 1.5 0 10-.9-2.863z"
						></path>
					</svg>
				</div>
				<figure class="progress-bar">
					<div id="bar"></div>
				</figure>
			</div>

			<div class="ui">
				<div class="ui-top">
					<div class="container-ui-top container-fluid">
						<div class="row">
							<div class="col-10 offset-1 col-md-6 offset-md-3">
								<div class="system-container">
									<button type="button" class="btn btn-rounded" @click="goToPreviousSystem()">
										<i class="fas fa-angle-left"></i>
									</button>
									<h2 class="h2" v-html="currentSystem"></h2>
									<button type="button" class="btn btn-rounded" @click="goToNextSystem()">
										<i class="fas fa-angle-right"></i>
									</button>
								</div>
							</div>

							<div class="col-search col-1 col-md-3 d-md-flex">
								<div class="search-desktop" :class="{'active': searchResults}">
									<button type="button" class="btn btn-rounded d-lg-none" @click="showOrHideMobileSearch">
										<i class="fas fa-search"></i>
									</button>
									<div id="search" class="search d-none d-lg-block">
										<i class="fas fa-search"></i>
										<input
											class="form-control input-search"
											type="seach"
											placeholder="Search"
											v-model="searchQuery"
											@keyup.enter="updateZoomTarget(searchResults[0].data)"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui-details">
					<div id="search-results-mobile" class="search-results">
						<input
							id="input-search-mobile"
							class="d-lg-none form-control input-search-mobile"
							type="seach"
							placeholder="Search"
							v-model="searchQuery"
							:class="{'active': showSearchMobile}"
							@keyup.enter="updateZoomTarget(searchResults[0].data)"
						/>
						<!-- TODO: Get links working and remove the '.prevent' -->
						<div class="search-dropdown" :class="{'active': searchResults}">
							<ul>
								<li v-for="(result, i) in searchResults">
									<a :href="'/#/' + result.data.id" @click.prevent="updateZoomTarget(result.data)">
										<span v-html="result.data.displayName"></span>
										<sub class="text-type">{{ result.data.bodyType }}</sub>
									</a>
								</li>
								<li v-if="searchResults && !searchResults.length">
									<span class="no-results">No results found.</span>
								</li>
							</ul>
						</div>
					</div>

					<aside id="sidebar-ui-details" class="sidebar-ui-details" v-if="sidebarIsOpen">
						<div class="ui-details-container">
							<img class="img-details" src="/img/details-jupiter.jpg" alt="Jupiter" />
							<div class="title-container">
								<button type="button" class="btn" @click="goToPreviousEntity()">
									<i class="fas fa-angle-left"></i>
								</button>
								<div class="title-wrapper">
									<h3 class="h3 text-entity-color">{{ clickedClassData.displayName }}</h3>
									<span class="text-type">{{ clickedClassData.bodyType }}</span>
								</div>
								<button type="button" class="btn" @click="goToNextEntity()">
									<i class="fas fa-angle-right"></i>
								</button>
							</div>
							<div class="key-data-container">
								<div class="container-fluid">
									<div class="row">
										<div class="col-4" v-if="clickedClassData.bodyType !== 'Star'">
											<div class="key-data">
												<span class="heading">Distance</span>
												<span class="label-color">{{ distanceFromParentEntity.value }}</span>
												<sub>{{ distanceFromParentEntity.unit }}</sub>
											</div>
										</div>
										<div class="col-4">
											<div class="key-data">
												<span class="heading">Mean Radius</span>
												<span class="label-color">{{ distanceConverter(clickedClassData.meanRadius).value }}</span>
												<sub>{{ distanceConverter(clickedClassData.meanRadius).unit }}</sub>
											</div>
										</div>
										<div class="col-4" v-if="clickedClassData.sideralOrbit">
											<div class="key-data">
												<span class="heading">Orbit Time</span>
												<span class="label-color"
													>{{ timeConversion(clickedClassData.sideralOrbit, 'days').value }}</span
												>
												<sub>{{ timeConversion(clickedClassData.sideralOrbit, 'days').unit }}</sub>
											</div>
										</div>

										<!-- <div class="col-4 d-none d-lg-block" v-if="clickedClassData.moons">
											<div class="key-data">
												<span class="heading">Moons</span>
												<span class="label-color">{{ clickedClassData.moons.length }}</span>
											</div>
										</div> -->
										<div class="col-4 d-none d-lg-block" v-if="clickedClassData.moonGroup">
											<div class="key-data">
												<span class="heading">Moon Group</span>
												<span class="label-color">{{ clickedClassData.moonGroup }}</span>
											</div>
										</div>

										<div class="col-4" v-if="clickedClassData.avgTemp">
											<div class="key-data">
												<span class="heading">Surface Temp</span>
												<span class="label-color">{{ clickedClassData.avgTemp }}</span> <sub>°C</sub>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="content-container order-lg-4">
								<section class="content content-desc" v-show="tabGroup === 'tab-desc'">
									<div
										class="content-wrapper container-fluid container-extra-gutter"
										:class="{ 'loaded': clickedClassData.description.hasLoaded }"
									>
										<template v-if="clickedClassData.description.hasLoaded">
											<div
												v-html="clickedClassData.description.content"
												v-if="!clickedClassData.description.noResults && !clickedClassData.description.hasError"
											></div>
											<div v-else-if="clickedClassData.description.hasError">
												<div class="alert alert-warning" role="alert">
													<p v-for="error in clickedClassData.description.errors.map(err => err.message)">
														{{ error }}
													</p>
													<button type="button" class="btn btn-primary" @click="getWikipediaData">Try again</button>
												</div>
											</div>
											<div v-else>
												<div class="alert alert-warning" role="alert">No results found.</div>
											</div>
										</template>
										<div class="ssc" v-else>
											<div class="flex align-start">
												<div class="w-100">
													<div class="ssc-line mts mb w-90"></div>
													<div class="ssc-line mb w-80"></div>
													<div class="ssc-line mb w-90"></div>
													<div class="ssc-line mb w-60"></div>
													<div class="ssc-line mb wp-80"></div>
													<br />
													<div class="ssc-line mb w-70"></div>
													<div class="ssc-line mb w-80"></div>
													<div class="ssc-line mb w-90"></div>
													<div class="ssc-line mb w-60"></div>
													<br />
													<div class="ssc-line mb w-90"></div>
													<div class="ssc-line mb w-80"></div>
													<div class="ssc-line mb w-90"></div>
													<div class="ssc-line mb w-60"></div>
													<div class="ssc-line mb wp-80"></div>
												</div>
											</div>
										</div>
									</div>
								</section>

								<section id="content-system" class="content content-system" v-show="tabGroup === 'tab-system'">
									<div class="content-wrapper container-fluid scroll-shadows" data-selector="content-wrapper">
										<table data-selector="table-wrapper">
											<tbody>
												<tr>
													<td class="td-wrapper">
														<table>
															<tbody class="planet-group active-planet-group" data-selector="tbody-wrapper">
																<tr
																	tabindex="0"
																	:class="{'active-entity': clickedClassData.id === systemClassData.id}"
																	@click="updateZoomTarget(systemClassData)"
																	@mouseover="entityHovered(systemClassData)"
																	@mouseleave="entityUnhovered(systemClassData)"
																>
																	<th scope="row"><span>{{ systemClassData.displayName }}</span></th>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
										<table v-if="modelMoonGroups[clickedClassData.systemId]" data-selector="table-wrapper">
											<tr>
												<td class="td-wrapper">
													<table>
														<thead>
															<tr>
																<th class="item-key">Moons</th>
																<th class="item-key">Distance</th>
																<th class="item-key">Radius</th>
															</tr>
														</thead>
														<tbody
															class="moon-group"
															data-selector="tbody-wrapper"
															v-if="modelMoonGroups[clickedClassData.systemId].length"
															v-for="(moonGroup, i) in modelMoonGroups[clickedClassData.systemId]"
															:class="['moon-group-' + i, {'active-moon-group': modelMoonGroups[clickedClassData.systemId][i].isSelected, 'show-moon-group-name': moonGroup.showName}]"
															:data-moongroup-name="moonGroup.name"
														>
															<tr
																tabindex="0"
																v-for="(moon, j) in moonGroup.moons"
																:class="{'active-entity': clickedClassData.id === moon.id}"
																@click="updateZoomTarget(moon)"
																@mouseover="entityHovered(moon)"
																@mouseleave="entityUnhovered(moon)"
															>
																<th scope="row"><span>{{ moon.displayName }}</span></th>
																<td>
																	{{ distanceConverter(moon.semimajorAxis).value }}
																	<sub>{{ distanceConverter(moon.semimajorAxis).unit }}</sub>
																</td>
																<td>
																	{{ distanceConverter(moon.meanRadius).value }}
																	<sub>{{ distanceConverter(moon.meanRadius).unit }}</sub>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</table>
									</div>
								</section>

								<section class="content content-stats" v-show="tabGroup === 'tab-stats'">
									<div class="content-wrapper container-fluid container-extra-gutter">
										<table>
											<tbody>
												<tr v-if="clickedClassData.discoveredBy">
													<td>Discovered By</td>
													<td>{{ clickedClassData.discoveredBy }}</td>
												</tr>
												<tr v-if="clickedClassData.discoveryDate">
													<td>Discovery Date</td>
													<td>{{ clickedClassData.discoveryDate }}</td>
												</tr>
												<tr v-if="clickedClassData.moons && clickedClassData.moons.length">
													<td>Moons</td>
													<td>{{ clickedClassData.moons.length }}</td>
												</tr>
												<tr v-if="clickedClassData.avgTemp">
													<td>Surface Temp</td>
													<td class="text-nowrap">{{ clickedClassData.avgTemp }} °C</td>
												</tr>
												<tr
													v-if="clickedClassData.mass && clickedClassData.mass.massValue && clickedClassData.mass.massExponent"
												>
													<td>Mass</td>
													<td class="text-nowrap">
														{{ valueToFixedFloatingPoints(clickedClassData.mass.massValue) }} x 10<sup
															>{{ clickedClassData.mass.massExponent }}</sup
														>
														<sub>kg</sub>
													</td>
												</tr>
												<tr v-if="clickedClassData.semimajorAxis">
													<td>Semi-Major Axis</td>
													<td class="text-nowrap">
														{{ distanceConverter(clickedClassData.semimajorAxis).value }}
														<sub>{{ distanceConverter(clickedClassData.semimajorAxis).unit }}</sub>
													</td>
												</tr>
												<tr v-if="clickedClassData.perihelion">
													<td>{{ namePeriapsis }}</td>
													<td class="text-nowrap">
														{{ distanceConverter(clickedClassData.perihelion).value }}
														<sub>{{ distanceConverter(clickedClassData.perihelion).unit }}</sub>
													</td>
												</tr>
												<tr v-if="clickedClassData.aphelion">
													<td>{{ nameApoapsis }}</td>
													<td class="text-nowrap">
														{{ distanceConverter(clickedClassData.aphelion).value }}
														<sub>{{ distanceConverter(clickedClassData.aphelion).unit }}</sub>
													</td>
												</tr>
												<tr v-if="clickedClassData.eccentricity">
													<td>Eccentricity</td>
													<td class="text-nowrap">{{ clickedClassData.eccentricity }}</td>
												</tr>
												<tr v-if="clickedClassData.inclination">
													<td>Inclination</td>
													<td class="text-nowrap">{{ clickedClassData.inclination }} °</td>
												</tr>
												<tr v-if="clickedClassData.diameter">
													<td>Mean Diameter</td>
													<td class="text-nowrap">
														{{ distanceConverter(clickedClassData.diameter).value }}
														<sub>{{ distanceConverter(clickedClassData.diameter).unit }}</sub>
													</td>
												</tr>
												<tr v-if="clickedClassData.meanRadius">
													<td>Mean Radius</td>
													<td class="text-nowrap">
														{{ distanceConverter(clickedClassData.meanRadius).value }}
														<sub>{{ distanceConverter(clickedClassData.meanRadius).unit }}</sub>
													</td>
												</tr>
												<tr v-if="clickedClassData.equaRadius">
													<td>Equatorial Radius</td>
													<td class="text-nowrap">
														{{ distanceConverter(clickedClassData.equaRadius).value }}
														<sub>{{ distanceConverter(clickedClassData.equaRadius).unit }}</sub>
													</td>
												</tr>
												<tr v-if="clickedClassData.polarRadius">
													<td>Polar Radius</td>
													<td class="text-nowrap">
														{{ distanceConverter(clickedClassData.polarRadius).value }}
														<sub>{{ distanceConverter(clickedClassData.polarRadius).unit }}</sub>
													</td>
												</tr>
												<tr v-if="clickedClassData.axialTilt">
													<td>Axial Tilt</td>
													<td class="text-nowrap">{{ valueToFixedFloatingPoints(clickedClassData.axialTilt) }} °</td>
												</tr>
												<tr v-if="clickedClassData.sideralOrbit">
													<td>Sideral Orbit</td>
													<td class="text-nowrap">
														{{ timeConversion(clickedClassData.sideralOrbit, 'days').value }}
														<sub>{{ timeConversion(clickedClassData.sideralOrbit, 'days').unit }}</sub>
													</td>
												</tr>
												<tr v-if="clickedClassData.sideralRotation">
													<td>Sideral Rotation</td>
													<td class="text-nowrap">
														{{ timeConversion(clickedClassData.sideralRotation, 'hours').value }}
														<sub>{{ timeConversion(clickedClassData.sideralRotation, 'hours').unit }}</sub>
													</td>
												</tr>

												<tr v-if="clickedClassData.meanAnomaly">
													<td>Mean Anomaly</td>
													<td class="text-nowrap">{{ valueToFixedFloatingPoints(clickedClassData.meanAnomaly) }} °</td>
												</tr>
												<tr v-if="clickedClassData.argPeriapsis">
													<td>Argument of {{namePeriapsis}}</td>
													<td class="text-nowrap">{{ valueToFixedFloatingPoints(clickedClassData.argPeriapsis) }} °</td>
												</tr>
												<tr v-if="clickedClassData.longAscNode">
													<td>Longitude of Ascending Node</td>
													<td class="text-nowrap">{{ valueToFixedFloatingPoints(clickedClassData.longAscNode) }} °</td>
												</tr>
												<tr v-if="clickedClassData.longOfPeriapsis">
													<td>Longitude of {{namePeriapsis}}</td>
													<td class="text-nowrap">
														{{ valueToFixedFloatingPoints(clickedClassData.longOfPeriapsis) }} °
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>

								<section class="content content-media" v-show="tabGroup === 'tab-media'">
									<div
										class="content-wrapper container-fluid container-extra-gutter text-center"
										:class="{ 'loaded': clickedClassData.media.hasLoaded }"
									>
										<template v-if="clickedClassData.media.hasLoaded">
											<div v-if="!clickedClassData.media.noResults && !clickedClassData.media.hasError">
												<div class="row">
													<div
														class="col-media col-6 col-md-4"
														v-for="(item, i) in clickedClassData.media.items"
														:key="i"
													>
														<figure>
															<a class="media" href="#" @click="openGallery(i)">
																<img :src="item.list_image_src" width="100%" :alt="item.alt_text" />
																<div class="overlay" v-html="item.title"></div>
															</a>
														</figure>
													</div>
												</div>

												<button
													type="button"
													class="btn btn-primary btn-loadmore"
													@click="getNASAMediaData(true)"
													v-if="clickedClassData.media.more && !clickedClassData.media.loadingMore"
												>
													Load More
												</button>
												<div class="spinner-border" role="status" v-if="clickedClassData.media.loadingMore">
													<span class="sr-only">Loading...</span>
												</div>
											</div>
											<div v-else-if="clickedClassData.media.hasError">
												<div class="alert alert-warning" role="alert">
													<p v-for="error in clickedClassData.media.errors.map(err => err.message)">{{ error }}</p>
													<button type="button" class="btn btn-primary" @click="getNASAMediaData">Try again</button>
												</div>
											</div>
											<div v-else>
												<div class="alert alert-warning" role="alert">No results found.</div>
											</div>
										</template>
										<div class="ssc" v-if="!clickedClassData.media.hasLoaded && !clickedClassData.media.loadingMore">
											<div class="row">
												<div class="col-media col-6 col-md-4" v-for="i in 12">
													<div class="ssc-square w-100"></div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>

							<div class="btn-group-wrapper tabs-details order-lg-3">
								<nav class="btn-group" role="group">
									<input
										type="radio"
										class="btn-check"
										name="tab-group"
										id="tab-desc"
										value="tab-desc"
										autocomplete="off"
										v-model="tabGroup"
										@change="switchDetailTabs"
									/>
									<label class="btn" for="tab-desc"><span class="fab fa-wikipedia-w"></span>Desc</label>
									<template
										v-if="modelMoonGroups[clickedClassData.systemId] && modelMoonGroups[clickedClassData.systemId].length"
									>
										<input
											type="radio"
											class="btn-check"
											name="tab-group"
											id="tab-system"
											value="tab-system"
											autocomplete="off"
											v-model="tabGroup"
											@change="switchDetailTabs"
										/>
										<label class="btn" for="tab-system">
											<span><img src="/img/icon-orbit.svg" width="18" preload /></span>System
										</label>
									</template>
									<input
										type="radio"
										class="btn-check"
										name="tab-group"
										id="tab-stats"
										value="tab-stats"
										autocomplete="off"
										v-model="tabGroup"
										@change="switchDetailTabs"
									/>
									<label class="btn" for="tab-stats"><span class="fas fa-table"></span>Stats</label>
									<input
										type="radio"
										class="btn-check"
										name="tab-group"
										id="tab-media"
										value="tab-media"
										autocomplete="off"
										v-model="tabGroup"
										@change="switchDetailTabs"
									/>
									<label class="btn" for="tab-media"><span class="fas fa-images"></span>Media</label>
								</nav>
							</div>
						</div>
					</aside>
					<button class="btn btn-close-sidebar" v-if="sidebarIsOpen" @click="closeSidebar">
						<img src="/img/icon-close.svg" />
					</button>

					<button class="btn btn-show-details" v-if="clickedClassData" v-show="!sidebarIsOpen" @click="openSidebar">
						Info
					</button>
				</div>
				<div class="ui-bottom-bar">
					<div class="container-fluid">
						<div class="row">
							<div class="col-2 col-lg-3">
								<div class="time-container">
									<button type="button" class="btn btn-rounded">
										<i class="fas fa-clock"></i>
									</button>
									<button type="button" class="btn btn-rounded d-none d-lg-inline-block">
										<i class="fas fa-backward"></i>
									</button>
									<button type="button" class="btn btn-rounded d-none d-lg-inline-block">
										<i class="fas fa-pause"></i>
									</button>
									<button type="button" class="btn btn-rounded d-none d-lg-inline-block">
										<i class="fas fa-forward"></i>
									</button>
								</div>
							</div>

							<div class="col"></div>

							<div class="col-2 col-lg-3"></div>
						</div>
					</div>
				</div>
			</div>

			<Lightbox
				ref="lightbox"
				:media="clickedClassData ? clickedClassData.media.lightboxData : []"
				:show-caption="true"
				:show-light-box="false"
				:n-thumbs="10"
				:interface-hide-time="999999999"
			/>

			<!-- Modal -->
			<div
				class="modal fade"
				id="modal-readmore"
				tabindex="-1"
				aria-labelledby="modal-readmore-label"
				aria-hidden="true"
			>
				<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal-readmore-label">Info</h5>
							<button type="button" class="btn-close btn-rounded" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body"></div>
						<div class="modal-footer">
							<a id="modal-info-read-more" target="_blank" nofollow>Read More</a>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
			integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
			integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
			crossorigin="anonymous"
		></script>
		<script type="module" src="./main.js"></script>
	</body>
</html>
