<!DOCTYPE html>
<html lang="en">
	<head>
		<title>The Orrery</title>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<!-- prettier-ignore -->
		<link rel="preload" as="font" href="./fonts/SourceSansPro/source-sans-pro-v18-latin-regular.woff2" type="font/woff2" crossorigin="anonymous" />
		<!-- prettier-ignore -->
		<link rel="preload" as="font" href="./fonts/SourceSansPro/source-sans-pro-v18-latin-italic.woff2" type="font/woff2" crossorigin="anonymous" />
		<!-- prettier-ignore -->
		<link rel="preload" as="font" href="./fonts/SourceSansPro/source-sans-pro-v18-latin-700.woff2" type="font/woff2" crossorigin="anonymous" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body class="loading">
		<noscript>
			Sorry, but <em>The Orrery</em> will not work without JavaScript enabled. Please enable it to continue.
		</noscript>
		<main id="app-orrery">
			<div class="loading-spinner-container">
				<div class="loading-spinner">
					<svg viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15.542 1.487A21.507 21.507 0 00.5 22c0 11.874 9.626 21.5 21.5 21.5 9.847 0 18.364-6.675 20.809-16.072a1.5 1.5 0 00-2.904-.756C37.803 34.755 30.473 40.5 22 40.5 11.783 40.5 3.5 32.217 3.5 22c0-8.137 5.3-15.247 12.942-17.65a1.5 1.5 0 10-.9-2.863z"
						></path>
					</svg>
				</div>
				<figure class="progress-bar">
					<div id="bar"></div>
				</figure>
			</div>

			<div class="ui">
				<div class="ui-top">
					<div class="container-ui-top container-fluid">
						<div class="row">
							<div class="col-10 offset-1 col-md-6 offset-md-3">
								<div class="system-container">
									<button type="button" class="btn btn-rounded" @click="goToPreviousSystem()">
										<i class="fas fa-angle-left"></i>
									</button>
									<h2 class="h2" v-html="currentSystem"></h2>
									<button type="button" class="btn btn-rounded" @click="goToNextSystem()">
										<i class="fas fa-angle-right"></i>
									</button>
								</div>
							</div>

							<div class="col-search col-1 col-md-3 d-md-flex">
								<div class="search-desktop" :class="{'active': searchResults}">
									<button
										type="button"
										class="btn btn-rounded d-lg-none"
										:class="{'active': showSearchMobile}"
										@click="showOrHideMobileSearch"
									>
										<i class="fas fa-search"></i>
									</button>
									<div data-selector="search" class="search d-none d-lg-block">
										<i class="fas fa-search"></i>
										<input
											class="form-control input-search"
											type="seach"
											placeholder="Search"
											@keyup="(e) => updateSearchQuery(e)"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui-centre">
					<div class="search-results-container">
						<div data-selector="search" class="search-results">
							<input
								id="input-search-mobile"
								class="d-lg-none form-control input-search-mobile"
								type="seach"
								placeholder="Search"
								:class="{'active': showSearchMobile}"
								@keyup="(e) => updateSearchQuery(e)"
							/>
						</div>
						<!-- TODO: Get links working and remove the '.prevent' -->
						<div class="search-dropdown" :class="{'active': searchResults}">
							<ul>
								<li v-for="(result, i) in searchResults">
									<a :href="'/#/' + result.data.id" @click.prevent="updateZoomTarget(result.data)">
										<span class="text-name" v-html="result.displayName"></span>
										<sub class="text-type" v-text="result.data.bodyType"></sub>
									</a>
								</li>
								<li v-if="searchResults && !searchResults.length">
									<span class="no-results">No results found.</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="ui-centre-container">
						<div id="renderers-container" class="renderers-container"></div>
						<aside id="sidebar-ui-details" class="sidebar-ui-details" :key="vueRandomString">
							<button
								id="btn-mobile-drag-bar"
								class="btn btn-mobile-drag-bar d-lg-none"
								@pointerDown="evResizeSidebarMobile"
							>
								<i class="fas fa-grip-lines"></i>
							</button>
							<button
								id="btn-desktop-drag-bar"
								class="btn btn-desktop-drag-bar d-none d-lg-flex"
								@pointerDown="evResizeSidebarDesktop"
							>
								<i class="fas fa-grip-lines-vertical"></i>
							</button>
							<div class="ui-details">
								<figure class="d-none d-lg-block img-container">
									<img
										v-if="sidebar.imagesQueue.length"
										:src="sidebar.imagesQueue[sidebar.imagesQueue.length - 1]"
										@load="imageLoad"
										@error="imageError"
									/>
									<transition-group
										name="fade"
										v-if="sidebar.images.length && sidebar.images[sidebar.images.length - 1]"
									>
										<img
											class="img-details"
											v-for="(sidebarImage, i) of sidebar.images"
											:src="sidebarImage"
											:key="sidebarImage + '-' + i"
											v-if="sidebarImage === sidebar.images[sidebar.images.length - 1] && !sidebar.imageError"
										/>
									</transition-group>
									<div class="img-unavailable" :class="{show: sidebar.imageError}">Image Unavailable</div>
									<div class="img-loading" :class="{show: sidebar.imageLoading}">
										<div class="spinner-border" role="status">
											<span class="visually-hidden">Loading...</span>
										</div>
									</div>
								</figure>
								<div class="title-container">
									<button type="button" class="btn" @click="goToPreviousEntity()">
										<i class="fas fa-angle-left"></i>
									</button>
									<div class="title-wrapper">
										<h3 class="h3 text-entity-color" v-text="clickedClassData.displayName"></h3>
										<span class="text-type" v-text="clickedClassData.bodyType"></span>
									</div>
									<button type="button" class="btn" @click="goToNextEntity()">
										<i class="fas fa-angle-right"></i>
									</button>
								</div>
								<div class="key-data-container d-none d-lg-block">
									<div class="container-fluid">
										<div class="row">
											<div class="col-4" v-if="clickedClassData.bodyType !== 'Star'">
												<div class="key-data">
													<span class="heading">Distance</span>
													<span class="label-color" v-text="distanceFromParentEntity.value"></span>
													<sub v-text="distanceFromParentEntity.unit"></sub>
												</div>
											</div>
											<div class="col-4">
												<div class="key-data">
													<span class="heading">Mean Radius</span>
													<span
														class="label-color"
														v-text="distanceConverter(clickedClassData.meanRadius).value"
													></span>
													<sub v-text="distanceConverter(clickedClassData.meanRadius).unit"></sub>
												</div>
											</div>
											<div class="col-4" v-if="clickedClassData.sideralOrbit">
												<div class="key-data">
													<span class="heading">Orbit Time</span>
													<span
														class="label-color"
														v-text="timeConversion(clickedClassData.sideralOrbit, 'days').value"
													></span>
													<sub v-text="timeConversion(clickedClassData.sideralOrbit, 'days').unit"></sub>
												</div>
											</div>
											<div class="col-4 d-none d-lg-block" v-if="clickedClassData.moonGroup">
												<div class="key-data">
													<span class="heading">Moon Group</span>
													<span class="label-color" v-text="clickedClassData.moonGroup"></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="content-container order-lg-4">
									<section class="content content-desc" v-show="tabGroup === 'tab-desc'">
										<div
											class="content-wrapper container-fluid container-extra-gutter"
											:class="{ 'loaded': clickedClassData.description.hasLoaded }"
										>
											<template v-if="clickedClassData.description.hasLoaded">
												<div
													v-html="clickedClassData.description.content"
													v-if="!clickedClassData.description.noResults && !clickedClassData.description.hasError"
												></div>
												<div v-else-if="clickedClassData.description.hasError">
													<div class="alert alert-warning" role="alert">
														<p
															v-for="error in clickedClassData.description.errors.map(err => err.message)"
															v-text="error"
														></p>
														<button type="button" class="btn btn-primary" @click="getWikipediaData">Try again</button>
													</div>
												</div>
												<div v-else>
													<div class="alert alert-warning" role="alert">No results found.</div>
												</div>
											</template>
											<div class="ssc" v-else>
												<div class="flex align-start">
													<div class="w-100">
														<div class="ssc-line mts mb w-90"></div>
														<div class="ssc-line mb w-80"></div>
														<div class="ssc-line mb w-90"></div>
														<div class="ssc-line mb w-60"></div>
														<div class="ssc-line mb wp-80"></div>
														<br />
														<div class="ssc-line mb w-70"></div>
														<div class="ssc-line mb w-80"></div>
														<div class="ssc-line mb w-90"></div>
														<div class="ssc-line mb w-60"></div>
														<br />
														<div class="ssc-line mb w-90"></div>
														<div class="ssc-line mb w-80"></div>
														<div class="ssc-line mb w-90"></div>
														<div class="ssc-line mb w-60"></div>
														<div class="ssc-line mb wp-80"></div>
													</div>
												</div>
											</div>
										</div>
									</section>

									<section
										id="content-system"
										class="content content-system"
										v-show="tabGroup === 'tab-system'"
										:class="{'has-topbar': showSystemTopBar}"
									>
										<div class="topbar-system" v-if="showSystemTopBar">
											<div class="topbar-system-label">Enabled Moon Groups:</div>
											<div class="topbar-system-contents">
												<template v-for="moonGroup in modelMoonGroups[clickedClassData.systemId]">
													<button
														class="badge"
														v-show="moonGroup.isEnabled"
														:style="{'background-color': moonGroup.color}"
														@click="disableMoonGroup(moonGroup.moonGroupIndex)"
													>
														{{ moonGroup.name }}
														<i class="fas fa-times"></i>
													</button>
												</template>
											</div>
										</div>
										<div class="content-wrapper container-fluid scroll-shadows" data-selector="content-wrapper">
											<table data-selector="table-wrapper">
												<tbody>
													<tr>
														<td class="td-wrapper">
															<table>
																<tbody class="planet-group active-planet-group" data-selector="tbody-wrapper">
																	<tr
																		tabindex="0"
																		:class="{'entity-targeted': clickedClassData.id === systemClassData.id, 'entity-selected': zoomedClassData && zoomedClassData.id === systemClassData.id}"
																		@click="updateClickTarget(systemClassData)"
																		@mouseover="entityHovered(systemClassData)"
																		@mouseleave="entityUnhovered(systemClassData)"
																	>
																		<th scope="row">
																			<span v-text="systemClassData.displayName"></span>
																			<div class="status-wrapper">
																				<label data-selector="targeted">
																					<img src="/img/icon-crosshair.svg" preload />
																				</label>
																				<label data-selector="selected">
																					<img src="/img/icon-camera.svg" preload />
																				</label>
																			</div>
																		</th>
																	</tr>
																</tbody>
															</table>
														</td>
													</tr>
												</tbody>
											</table>
											<table v-if="modelMoonGroups[clickedClassData.systemId]" data-selector="table-wrapper">
												<tr>
													<td class="td-wrapper">
														<table>
															<thead>
																<tr>
																	<th class="item-key">Moons</th>
																	<th class="item-key">Distance</th>
																	<th class="item-key">Radius</th>
																</tr>
															</thead>
															<tbody
																class="moon-group"
																data-selector="tbody-wrapper"
																v-for="(moonGroup, i) in modelMoonGroups[clickedClassData.systemId]"
																:class="['moon-group-' + i, {'active-moon-group': modelMoonGroups[clickedClassData.systemId][i].isEnabled, 'show-moon-group-name': moonGroup.showName}]"
																:data-moongroup-name="moonGroup.name"
															>
																<tr
																	tabindex="0"
																	v-for="(moon, j) in moonGroup.moons"
																	:class="{'entity-targeted': clickedClassData.id === moon.id, 'entity-selected': zoomedClassData && zoomedClassData.id === moon.id}"
																	@click="updateClickTarget(moon)"
																	@mouseover="entityHovered(moon)"
																	@mouseleave="entityUnhovered(moon)"
																>
																	<th scope="row"><span>{{ moon.displayName }}</span></th>
																	<td>
																		{{ distanceConverter(moon.semimajorAxis).value }}
																		<sub>{{ distanceConverter(moon.semimajorAxis).unit }}</sub>
																	</td>
																	<td>
																		{{ distanceConverter(moon.meanRadius).value }}
																		<sub>{{ distanceConverter(moon.meanRadius).unit }}</sub>
																		<div class="status-wrapper">
																			<label data-selector="targeted">
																				<img src="/img/icon-crosshair.svg" preload />
																			</label>
																			<label data-selector="selected">
																				<img src="/img/icon-camera.svg" preload />
																			</label>
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</table>
										</div>
									</section>

									<section class="content content-stats" v-show="tabGroup === 'tab-stats'">
										<div class="content-wrapper container-fluid container-extra-gutter">
											<table>
												<tbody>
													<tr v-if="clickedClassData.discoveredBy">
														<td>Discovered By</td>
														<td>{{ clickedClassData.discoveredBy }}</td>
													</tr>
													<tr v-if="clickedClassData.discoveryDate">
														<td>Discovery Date</td>
														<td>{{ clickedClassData.discoveryDate }}</td>
													</tr>
													<tr v-if="clickedClassData.moons && clickedClassData.moons.length">
														<td>Moons</td>
														<td>{{ clickedClassData.moons.length }}</td>
													</tr>
													<tr v-if="clickedClassData.avgTemp">
														<td>Surface Temp</td>
														<td class="text-nowrap">{{ clickedClassData.avgTemp }} °C</td>
													</tr>
													<tr
														v-if="clickedClassData.mass && clickedClassData.mass.massValue && clickedClassData.mass.massExponent"
													>
														<td>Mass</td>
														<td class="text-nowrap">
															{{ valueToFixedFloatingPoints(clickedClassData.mass.massValue) }} x 10<sup
																>{{ clickedClassData.mass.massExponent }}</sup
															>
															<sub>kg</sub>
														</td>
													</tr>
													<tr v-if="clickedClassData.semimajorAxis">
														<td>Semi-Major Axis</td>
														<td class="text-nowrap">
															{{ distanceConverter(clickedClassData.semimajorAxis).value }}
															<sub>{{ distanceConverter(clickedClassData.semimajorAxis).unit }}</sub>
														</td>
													</tr>
													<tr v-if="clickedClassData.perihelion">
														<td>{{ namePeriapsis }}</td>
														<td class="text-nowrap">
															{{ distanceConverter(clickedClassData.perihelion).value }}
															<sub>{{ distanceConverter(clickedClassData.perihelion).unit }}</sub>
														</td>
													</tr>
													<tr v-if="clickedClassData.aphelion">
														<td>{{ nameApoapsis }}</td>
														<td class="text-nowrap">
															{{ distanceConverter(clickedClassData.aphelion).value }}
															<sub>{{ distanceConverter(clickedClassData.aphelion).unit }}</sub>
														</td>
													</tr>
													<tr v-if="clickedClassData.eccentricity">
														<td>Eccentricity</td>
														<td class="text-nowrap">{{ clickedClassData.eccentricity }}</td>
													</tr>
													<tr v-if="clickedClassData.inclination">
														<td>Inclination</td>
														<td class="text-nowrap">{{ clickedClassData.inclination }} °</td>
													</tr>
													<tr v-if="clickedClassData.diameter">
														<td>Mean Diameter</td>
														<td class="text-nowrap">
															{{ distanceConverter(clickedClassData.diameter).value }}
															<sub>{{ distanceConverter(clickedClassData.diameter).unit }}</sub>
														</td>
													</tr>
													<tr v-if="clickedClassData.meanRadius">
														<td>Mean Radius</td>
														<td class="text-nowrap">
															{{ distanceConverter(clickedClassData.meanRadius).value }}
															<sub>{{ distanceConverter(clickedClassData.meanRadius).unit }}</sub>
														</td>
													</tr>
													<tr v-if="clickedClassData.equaRadius">
														<td>Equatorial Radius</td>
														<td class="text-nowrap">
															{{ distanceConverter(clickedClassData.equaRadius).value }}
															<sub>{{ distanceConverter(clickedClassData.equaRadius).unit }}</sub>
														</td>
													</tr>
													<tr v-if="clickedClassData.polarRadius">
														<td>Polar Radius</td>
														<td class="text-nowrap">
															{{ distanceConverter(clickedClassData.polarRadius).value }}
															<sub>{{ distanceConverter(clickedClassData.polarRadius).unit }}</sub>
														</td>
													</tr>
													<tr v-if="clickedClassData.axialTilt">
														<td>Axial Tilt</td>
														<td class="text-nowrap">{{ valueToFixedFloatingPoints(clickedClassData.axialTilt) }} °</td>
													</tr>
													<tr v-if="clickedClassData.sideralOrbit">
														<td>Sideral Orbit</td>
														<td class="text-nowrap">
															{{ timeConversion(clickedClassData.sideralOrbit, 'days').value }}
															<sub>{{ timeConversion(clickedClassData.sideralOrbit, 'days').unit }}</sub>
														</td>
													</tr>
													<tr v-if="clickedClassData.sideralRotation">
														<td>Sideral Rotation</td>
														<td class="text-nowrap">
															{{ timeConversion(clickedClassData.sideralRotation, 'hours').value }}
															<sub>{{ timeConversion(clickedClassData.sideralRotation, 'hours').unit }}</sub>
														</td>
													</tr>

													<tr v-if="clickedClassData.meanAnomaly">
														<td>Mean Anomaly</td>
														<td class="text-nowrap">
															{{ valueToFixedFloatingPoints(clickedClassData.meanAnomaly) }} °
														</td>
													</tr>
													<tr v-if="clickedClassData.argPeriapsis">
														<td>Argument of {{namePeriapsis}}</td>
														<td class="text-nowrap">
															{{ valueToFixedFloatingPoints(clickedClassData.argPeriapsis) }} °
														</td>
													</tr>
													<tr v-if="clickedClassData.longAscNode">
														<td>Longitude of Ascending Node</td>
														<td class="text-nowrap">
															{{ valueToFixedFloatingPoints(clickedClassData.longAscNode) }} °
														</td>
													</tr>
													<tr v-if="clickedClassData.longOfPeriapsis && clickedClassData.longOfPeriapsis < 360">
														<td>Longitude of {{namePeriapsis}}</td>
														<td class="text-nowrap">
															{{ valueToFixedFloatingPoints(clickedClassData.longOfPeriapsis) }} °
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</section>

									<section class="content content-media" v-show="tabGroup === 'tab-media'">
										<div
											class="content-wrapper container-fluid container-extra-gutter text-center"
											:class="{ 'loaded': clickedClassData.media.hasLoaded }"
										>
											<template v-if="clickedClassData.media.hasLoaded">
												<div v-if="!clickedClassData.media.noResults && !clickedClassData.media.hasError">
													<div class="row">
														<div
															class="col-media col-6"
															:class="{'col-sm-4': sidebarDesktopWidth < 960, 'col-sm-3': 960 <= sidebarDesktopWidth && sidebarDesktopWidth < 1280, 'col-sm-2': 1280 <= sidebarDesktopWidth }"
															v-for="(item, i) in clickedClassData.media.items"
															:key="i"
														>
															<figure>
																<a class="media" href="#" @click="openGallery(i)">
																	<!-- If NASA start including alt text for their images, then so will I -->
																	<img :src="item.thumb" width="100%" alt="" />
																	<div class="overlay" v-html="item.title"></div>
																</a>
															</figure>
														</div>
													</div>

													<button
														type="button"
														class="btn btn-primary btn-loadmore"
														@click="getNASAMediaData(true)"
														v-if="!clickedClassData.media.loadingMore && clickedClassData.media.loadMoreLink"
													>
														Load More
													</button>
													<div class="spinner-border" role="status" v-if="clickedClassData.media.loadingMore">
														<span class="sr-only">Loading...</span>
													</div>
												</div>
												<div v-else-if="clickedClassData.media.hasError">
													<div class="alert alert-warning" role="alert">
														<p
															v-for="error in clickedClassData.media.errors.map(err => err.message)"
															v-text="error"
														></p>
														<button type="button" class="btn btn-primary" @click="getNASAMediaData">Try again</button>
													</div>
												</div>
												<div v-else>
													<div class="alert alert-warning" role="alert">No results found.</div>
												</div>
											</template>
											<div class="ssc" v-if="!clickedClassData.media.hasLoaded && !clickedClassData.media.loadingMore">
												<div class="row">
													<div class="col-media col-6 col-sm-4" v-for="i in 12">
														<div class="ssc-square w-100"></div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>

								<div class="btn-group-wrapper tabs-details order-lg-3">
									<nav class="btn-group" role="group">
										<div class="input-group">
											<input
												type="radio"
												class="btn-check"
												name="tab-group"
												id="tab-desc"
												value="tab-desc"
												autocomplete="off"
												v-model="tabGroup"
												@change="switchDetailTabs"
											/>
											<label class="btn" for="tab-desc"><span class="fab fa-wikipedia-w"></span>Desc</label>
										</div>
										<template
											v-if="modelMoonGroups[clickedClassData.systemId] && modelMoonGroups[clickedClassData.systemId].length"
										>
											<div class="input-group">
												<input
													type="radio"
													class="btn-check"
													name="tab-group"
													id="tab-system"
													value="tab-system"
													autocomplete="off"
													v-model="tabGroup"
													@change="switchDetailTabs"
												/>
												<label class="btn" for="tab-system">
													<span><img src="/img/icon-orbit.svg" width="18" preload /></span>System
												</label>
											</div>
										</template>
										<div class="input-group">
											<input
												type="radio"
												class="btn-check"
												name="tab-group"
												id="tab-stats"
												value="tab-stats"
												autocomplete="off"
												v-model="tabGroup"
												@change="switchDetailTabs"
											/>
											<label class="btn" for="tab-stats"><span class="fas fa-table"></span>Stats</label>
										</div>
										<div class="input-group">
											<input
												type="radio"
												class="btn-check"
												name="tab-group"
												id="tab-media"
												value="tab-media"
												autocomplete="off"
												v-model="tabGroup"
												@change="switchDetailTabs"
											/>
											<label class="btn" for="tab-media"><span class="fas fa-images"></span>Media</label>
										</div>
									</nav>
								</div>
							</div>
						</aside>
					</div>
				</div>
				<div class="ui-bottom">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="time-container">
									<button
										type="button"
										class="btn btn-rounded"
										:disabled="timeShiftTypeCurrentIndex === -4"
										@click="timeShiftBackwards()"
									>
										<i class="fas fa-backward"></i>
										<span
											class="badge"
											v-if="timeShiftTypeCurrentIndex < 0"
											v-text="Math.abs(timeShiftTypeCurrentIndex)"
										></span>
									</button>
									<button
										type="button"
										class="btn btn-rounded"
										:disabled="timeShiftTypeCurrentIndex === 0"
										@click="timeShiftStop()"
									>
										<i class="fas fa-stop"></i>
									</button>
									<button
										type="button"
										class="btn btn-rounded"
										:disabled="timeShiftTypeCurrentIndex === 4"
										@click="timeShiftForwards()"
									>
										<i class="fas fa-forward"></i>
										<span class="badge" v-if="timeShiftTypeCurrentIndex > 0" v-text="timeShiftTypeCurrentIndex"></span>
									</button>
									<button type="button" class="btn btn-rounded" @click="timeShiftReset()">
										<i class="fas fa-redo-alt"></i>
									</button>

									<button
										type="button"
										class="btn btn-rounded"
										:class="{'active': timeShiftSystemOnly}"
										@click="toggleTimeShiftSystemOnly()"
									>
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="width: 18px; margin-top: -4px">
											<ellipse style="fill: none; stroke-width: 27px" cx="255.372" cy="253.904" rx="238.5" ry="238.5" />
											<path
												d="M 507.372 253.904 C 507.372 322.522 478.424 387.234 433.563 432.095 C 388.702 476.956 323.99 505.904 255.372 505.904 C 186.754 505.904 122.042 476.956 77.181 432.095 C 32.32 387.234 3.372 322.522 3.372 253.904 C 3.372 207.986 16.335 163.817 38.355 126.175 C 44.216 133.035 51.166 138.935 58.939 143.607 C 40.56 175.993 30.372 213.164 30.372 253.904 C 30.372 317.006 54.814 371.544 96.273 413.003 C 137.732 454.462 192.27 478.904 255.372 478.904 C 318.474 478.904 373.012 454.462 414.471 413.003 C 455.93 371.544 480.372 317.006 480.372 253.904 C 480.372 190.802 455.93 136.264 414.471 94.805 C 373.012 53.346 318.474 28.904 255.372 28.904 C 228.559 28.904 203.293 33.317 179.919 41.573 C 176.62 33.097 171.98 25.292 166.258 18.418 C 194.186 7.809 224.381 1.904 255.372 1.904 C 323.99 1.904 388.702 30.852 433.563 75.713 C 478.424 120.574 507.372 185.286 507.372 253.904 Z"
												style="fill: currentColor"
											/>
											<ellipse style="fill: currentColor" cx="250.399" cy="250.133" rx="121.032" ry="121.032" />
											<ellipse style="fill: currentColor" cx="101.226" cy="71.152" rx="52.814" ry="52.814" />
										</svg>
									</button>

									<span class="date-time" v-html="dateTimeText"></span>
								</div>
							</div>

							<div class="col"></div>

							<div class="col-2 col-lg-3"></div>
						</div>
					</div>
				</div>
			</div>

			<Lightbox
				ref="lightbox"
				:media="clickedClassData ? clickedClassData.media.lightboxData : []"
				:show-caption="true"
				:show-light-box="false"
				:n-thumbs="10"
				:interface-hide-time="999999999"
			/>

			<!-- Modal -->
			<div
				class="modal fade"
				id="modal-readmore"
				tabindex="-1"
				aria-labelledby="modal-readmore-label"
				aria-hidden="true"
			>
				<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal-readmore-label">Info</h5>
							<button type="button" class="btn-close btn-rounded" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body"></div>
						<div class="modal-footer">
							<a id="modal-info-read-more" target="_blank" nofollow>Read More</a>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script type="module" src="./main.js"></script>
	</body>
</html>
