<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>ThreeJS Planet System</title>
	</head>
	<body class="loading">
		<noscript>
			Sorry, but <em>The Orrery</em> will not work without JavaScript enabled. Please enable it to continue.
		</noscript>
		<canvas id="bg"></canvas>
		<main id="app-orrery">
			<div class="loading-spinner-container">
				<div class="loading-spinner">
					<svg viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M15.542 1.487A21.507 21.507 0 00.5 22c0 11.874 9.626 21.5 21.5 21.5 9.847 0 18.364-6.675 20.809-16.072a1.5 1.5 0 00-2.904-.756C37.803 34.755 30.473 40.5 22 40.5 11.783 40.5 3.5 32.217 3.5 22c0-8.137 5.3-15.247 12.942-17.65a1.5 1.5 0 10-.9-2.863z"
						></path>
					</svg>
				</div>
				<figure class="progress-bar">
					<div id="bar"></div>
				</figure>
			</div>

			<div class="ui">
				<div class="ui-top col-md-6 offset-md-3">
					<div class="container-fluid">
						<div class="row">
							<div class="col">
								<div class="system-container">
									<button type="button" class="btn btn-rounded" @click="goToPreviousSystem()">
										<i class="fas fa-angle-left"></i>
									</button>
									<h2 class="h2" v-html="currentSystem"></h2>
									<button type="button" class="btn btn-rounded" @click="goToNextSystem()">
										<i class="fas fa-angle-right"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui-details" :class="{'hide-moons': !showMoons}" v-if="clickedClassData">
					<div class="col-ui-details">
						<div class="ui-details-container">
							<img class="img-details" src="/img/details-jupiter.jpg" alt="Jupiter" />
							<div class="title-container">
								<button type="button" class="btn" @click="goToPreviousEntity()">
									<i class="fas fa-angle-left"></i>
								</button>
								<div class="title-wrapper">
									<h3 class="h3 text-entity-color">{{ clickedClassData.displayName }}</h3>
									<span class="text-type">{{ clickedClassData.type }}</span>
								</div>
								<button type="button" class="btn" @click="goToNextEntity()">
									<i class="fas fa-angle-right"></i>
								</button>
							</div>
							<div class="key-data-container">
								<div class="container-fluid">
									<div class="row">
										<div class="col-4" v-if="clickedClassData.type !== 'Star'">
											<div class="key-data">
												<span class="heading">Distance</span>
												<span v-html="distanceFromParentEntity"></span>
											</div>
										</div>
										<div class="col-4">
											<div class="key-data">
												<span class="heading">Mean Radius</span>
												<span class="label-color"
													>{{ new Intl.NumberFormat('en-US').format(clickedClassData.meanRadius) }}</span
												>
												km
											</div>
										</div>
										<div class="col-4" v-if="sideralOrbit">
											<div class="key-data">
												<span class="heading">Orbit Time</span>
												<span class="label-color">{{ sideralOrbit }}</span> Earth {{ clickedClassData.sideralOrbit < 366
												? 'Days' : 'Years' }}
											</div>
										</div>
										<div class="col-4">
											<div class="key-data">
												<span class="heading">Surface Temp</span>
												<span class="label-color">{{ clickedClassData.avgTemp }}</span> °C
											</div>
										</div>
										<div class="col-4" v-if="clickedClassData.mass && clickedClassData.massValue">
											<div class="key-data">
												<span class="heading">Mass</span>
												<span class="label-color">
													{{ clickedClassData.mass.massValue.toFixed(2) }}
													<span style="text-transform: none">x</span> 10<sup
														>{{ clickedClassData.mass.massExponent }}</sup
													>
												</span>
												kg
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="content-container order-lg-4">
								<div class="content" v-if="tabGroup === 'tab-desc'">
									<div class="container-fluid container-extra-gutter">
										<p>
											Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant
											with a mass more than two and a half times that of all the other planets in the Solar System
											combined, but slightly less than one-thousandth the mass of the Sun. Jupiter is the third
											brightest natural object in the Earth's night sky after the Moon and Venus. People have been
											observing it since prehistoric times; it was named after the Roman god Jupiter, the king of the
											gods, because of its observed size.
										</p>
										<p>
											Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant
											with a mass more than two and a half times that of all the other planets in the Solar System
											combined, but slightly less than one-thousandth the mass of the Sun. Jupiter is the third
											brightest natural object in the Earth's night sky after the Moon and Venus. People have been
											observing it since prehistoric times; it was named after the Roman god Jupiter, the king of the
											gods, because of its observed size.
										</p>
										<p>
											Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant
											with a mass more than two and a half times that of all the other planets in the Solar System
											combined, but slightly less than one-thousandth the mass of the Sun. Jupiter is the third
											brightest natural object in the Earth's night sky after the Moon and Venus. People have been
											observing it since prehistoric times; it was named after the Roman god Jupiter, the king of the
											gods, because of its observed size.
										</p>
										<p>
											Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant
											with a mass more than two and a half times that of all the other planets in the Solar System
											combined, but slightly less than one-thousandth the mass of the Sun. Jupiter is the third
											brightest natural object in the Earth's night sky after the Moon and Venus. People have been
											observing it since prehistoric times; it was named after the Roman god Jupiter, the king of the
											gods, because of its observed size.
										</p>
										<p>
											Jupiter is the fifth planet from the Sun and the largest in the Solar System. It is a gas giant
											with a mass more than two and a half times that of all the other planets in the Solar System
											combined, but slightly less than one-thousandth the mass of the Sun. Jupiter is the third
											brightest natural object in the Earth's night sky after the Moon and Venus. People have been
											observing it since prehistoric times; it was named after the Roman god Jupiter, the king of the
											gods, because of its observed size.
										</p>
									</div>
								</div>

								<div class="content content-system" v-if="tabGroup === 'tab-system'">
									<div class="container-fluid">
										<table>
											<tbody>
												<tr>
													<td class="td-wrapper">
														<table>
															<tbody class="jupiter active-entity-group">
																<tr class="active-entity" tabindex="0">
																	<th scope="row">Jupiter</th>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
										<table>
											<tr>
												<td class="td-wrapper">
													<table>
														<thead>
															<tr>
																<th class="item-key">Moons</th>
																<th class="item-key">Distance</th>
																<th class="item-key">Radius</th>
																<th class="item-key">Mass</th>
															</tr>
														</thead>
														<tbody class="major active-entity-group">
															<tr class="active-entity" tabindex="0">
																<th scope="row">Io</th>
																<td>69911 km</td>
																<td>343000 km</td>
																<td>6.3 x 10<sup>12</sup> km</td>
															</tr>
															<tr tabindex="0">
																<th scope="row">Europa</th>
																<td>69911 km</td>
																<td>343000 km</td>
																<td>6.3 x 10<sup>12</sup> km</td>
															</tr>
															<tr tabindex="0">
																<th scope="row">Ganymede</th>
																<td>69911 km</td>
																<td>343000 km</td>
																<td>6.3 x 10<sup>12</sup> km</td>
															</tr>
														</tbody>
														<tbody class="himalia">
															<tr tabindex="0">
																<th scope="row">Amalthea</th>
																<td>69911 km</td>
																<td>343000 km</td>
																<td>6.3 x 10<sup>12</sup> km</td>
															</tr>
															<tr tabindex="0">
																<th scope="row">Thebe</th>
																<td>69911 km</td>
																<td>343000 km</td>
																<td>6.3 x 10<sup>12</sup> km</td>
															</tr>
															<tr tabindex="0">
																<th scope="row">Adrastea</th>
																<td>69911 km</td>
																<td>343000 km</td>
																<td>6.3 x 10<sup>12</sup> km</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</table>
									</div>
								</div>

								<div class="content" v-if="tabGroup === 'tab-stats'">Stats info to go here!</div>

								<div class="content" v-if="tabGroup === 'tab-media'">Media info to go here!</div>
							</div>

							<div class="btn-group-wrapper tabs-details order-lg-3">
								<div class="btn-group" role="group">
									<input
										type="radio"
										class="btn-check"
										name="tab-group"
										id="tab-desc"
										value="tab-desc"
										autocomplete="off"
										v-model="tabGroup"
									/>
									<label class="btn" for="tab-desc"><span class="fas fa-align-left"></span>Desc</label>
									<input
										type="radio"
										class="btn-check"
										name="tab-group"
										id="tab-system"
										value="tab-system"
										autocomplete="off"
										v-model="tabGroup"
									/>
									<label class="btn" for="tab-system"
										><span><img src="/img/icon-orbit.svg" width="18" /></span>System</label
									>
									<input
										type="radio"
										class="btn-check"
										name="tab-group"
										id="tab-stats"
										value="tab-stats"
										autocomplete="off"
										v-model="tabGroup"
									/>
									<label class="btn" for="tab-stats"><span class="fas fa-table"></span>Stats</label>
									<input
										type="radio"
										class="btn-check"
										name="tab-group"
										id="tab-media"
										value="tab-media"
										autocomplete="off"
										v-model="tabGroup"
									/>
									<label class="btn" for="tab-media"><span class="fas fa-images"></span>Media</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="ui-bottom-bar">
					<div class="container-fluid">
						<div class="row">
							<div class="col-2 col-lg-3">
								<div class="time-container">
									<button type="button" class="btn btn-rounded">
										<i class="fas fa-clock"></i>
									</button>
									<button type="button" class="btn btn-rounded d-none d-lg-inline-block">
										<i class="fas fa-backward"></i>
									</button>
									<button type="button" class="btn btn-rounded d-none d-lg-inline-block">
										<i class="fas fa-pause"></i>
									</button>
									<button type="button" class="btn btn-rounded d-none d-lg-inline-block">
										<i class="fas fa-forward"></i>
									</button>
								</div>
							</div>

							<div class="col"></div>

							<div class="col-2 col-lg-3">
								<div class="search-container" :class="{'active': searchQuery && searchLoaded}">
									<button type="button" class="btn btn-rounded d-lg-none">
										<i class="fas fa-search"></i>
									</button>
									<div id="search" class="search d-none d-lg-block">
										<i class="fas fa-search"></i>
										<input
											class="form-control"
											type="seach"
											placeholder="Search"
											v-model="searchQuery"
											@keyup="updateSearch"
											@keyup.enter="updateZoomTarget(searchResults[0].index)"
										/>
										<div class="search-dropdown" v-if="searchLoaded">
											<ul>
												<li v-for="(result, i) in searchResults">
													<a :href="'/#/' + result.id" @click="updateZoomTarget(result.index)">
														<span v-html="result.displayName"></span> <span class="text-type">{{ result.type }}</span>
													</a>
												</li>
												<li v-if="!searchResults.length">
													<span class="no-results">No results found.</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="modal-info" tabindex="-1" aria-labelledby="modal-info-label" aria-hidden="true">
				<div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modal-info-label">Info</h5>
							<button type="button" class="btn-close btn-rounded" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body"></div>
						<div class="modal-footer">
							<a id="modal-info-read-more" target="_blank" nofollow>Read More</a>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
			integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
			integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
			crossorigin="anonymous"
		></script>
		<script type="module" src="./main.js"></script>
	</body>
</html>
